/* my styles */
html, body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

ol, ul, li, h1, h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

#warning,
#critical {
    height: 50%;
}

#warning.fullscreen,
#critical.fullscreen {
    height: 100%;
}

#warning {
    background: #FFA500;
}

#critical {
    background: #f00;
}

#warning li,
#critical li {
    font-size: 4em;
}

.okay {
    background: #0C3;
}

.okay h1 {
    color: #fff;
    font-size: 6em;
    margin: 20% 0 0;
}

.okay li {
    margin-left: 5%;
    margin-top: 10px;
    font-size: 3em;
    color: #00b324;
}
